.head{
    width:100%;
    height:125px;
    background-color:var(--main-bg-color);
    .top{
        height: 62px;
        background: #0b0e12;
        .top_content{ 
            display: flex;
            align-items: center;
            width: 100%;
            max-width: $width;
            height: 100%;
            font-size: 16px;
            margin: auto;
            align-items: center;
            justify-content: space-between;
            &_left{
                display: flex;
                align-items: center;
                cursor: pointer;
            .logo{
                    width: 130px;
                // width: 45px;
                // height: 45px;
                }
            .logo_title{
                font-size: 32px;
                font-family: PingFangSC, PingFangSC-Semibold;
                font-weight: 600;
                text-align: right;
                color: #fff;
                margin:0px 0px 0px 10px;
        
            }
            }
            &_right{
                display: flex;
                align-items: center;
                color: $default-color;
                float: right;
                font-size: 16px;
                &_icon{
                    margin-left: 20px;
                    cursor: pointer;
                    svg{
                        scale: 0.8;
                    }
                }
            }
          
           

        }
    }
    .bottom{
        height: 63px;
        .bottom_content{
            width: 90%;
            max-width: $width;
            height: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
        align-items: center;

        color: var(--font-color);
        }
        

    }
    
}
.nav_menu{
    width: 100%;
    border-bottom:none;
    background-color: var(--main-bg-color);
    color: var(--font-color) !important;
    font-size: 18px;
    margin-left: -15px;
    &:hover{
        color: var(--font-color);
    }
    .ant-menu-item {
         padding: 0px !important;
         margin: 0px !important;

         &:hover {
             color: var(--font-color) !important;
         }
     }
    &_submenu{
        width: fit-content;
        font-size: 18px;
        &_title{
            display: flex;
            align-items: center;
            column-gap: 4px;
        }
    }
  
    &_item{
        &_title{
                 display: flex;
                 align-items: center;
                 column-gap: 4px;
        }
    }
   
    .ant-menu-item-only-child{
         color: var(--font-color) !important;
    }
    .ant-menu-item {
       
          &:hover {
              color: var(--font-color) !important;
               .ant-menu-title-content {

                   color: var(--font-color) !important;
               }
          }
      }
    
}

.navMenu{
    position: relative;
    display: flex;
    list-style: none;
    column-gap: 30px;
    cursor: pointer;
            font-size: 18px;

    &_item{
        display: flex;
        align-items: center;
        position: relative;
        a{
            width: 100%;
            text-align: center;
        }
        &:hover{
            color: var(--force-mark-color);
        }
        svg{
            margin-left: 2px;
            color: var(--font-color);
        }
    }
    &_wrap{
        position: relative;
        &:hover{
        .navMenu_wrap_cont{
            visibility: inherit;
            }
        }

        &_cont{
          visibility:hidden;
            position: absolute;
            z-index: 10;
            left: 50%;
            top: 35px;
            // border-top: 1px solid var(--force-mark-color);
            transform: translate(-50%);
            width: max-content;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding: 30px 20px 10px 20px;
            text-align: center;
            background-color: var(--main-bg-color);
            //box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 8px 0px var(--block-icon-bg-color);
            &:hover{
                  visibility: inherit;
            }
            li{
                &:hover{
                color: var(--force-mark-color);
            }
            }
            
        }
    }
    &_wrap_icon{
        position: relative;
        margin-left: 30px;
    }
    
}



.icon{
        width: 31px;
        height: 15px;
        border: 2px 0px 2px 2px;
        background-color: #F44C30;
    
}
.select{
    text-align: right;
    margin-left: 40px;
}

.search{
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    padding: 4px;
            border-radius: 6px;

    &_input{
        width: 600px;
        height: 36px;

        &_svg{
            margin-top: 5px;
            margin-right: -10px;
            cursor: pointer;
            svg{
            color: var(--link-color);
            }
        }
    }
}