.content{
    display: flex;
    flex-wrap: wrap;
        list-style: none;
        margin: 0px;
        padding: 0px;
        background-color: var(--main-bg-color);
        border-radius: 6px;
        padding: 20px 0px;
        &_bolderItem{
            border-bottom: 1px solid var(--border-color);
            &:last-child{
                border-bottom: none;
            }
        }
        &_item{
         display: flex;
        align-items: center;
        padding: 10px 20px;
        width: 100%;
        
        &_label{
                  display: flex;
                  align-items: baseline;
                  column-gap: 6px;
                text-align: right;
                min-width: 180px;
            }
             &_value{
               // max-width: calc(100% - 220px);
                word-break:break-all;
                 white-space:normal;
                padding-left: 10px;
                //flex: 1;
                &-br{
                    line-height: 32px;
                }
            }
        }
    }



@media only screen and (max-width: 1100px) {
    .content {
        &_item{
            flex-direction: column;
            row-gap: 10px;
            align-items: flex-start;
            &_value{
                max-width: 100%;
            }
        }
    }
}