
.rank{
    width: 100%;
    padding: 20px;
    background-color: var(--main-bg-color);
  &_header{
      width: 100%;
      margin-right: 10px;
      display: inline-flex;
      justify-content: space-between;
      margin-bottom: 20px;
      &_right{
          display: flex;
          column-gap: 30px;
      }
  }
}