
.home{
    &_meta{
        overflow: hidden;
        .ul_list{
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        align-content: flex-start;
        row-gap: 20px;
        overflow: hidden;
        }
        .list_item{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 19%;
            height: 98px;
            background: var(--bg-color);
            border: 1px solid var(--border-color);
            &_title{
                display: flex;
                column-gap: 5px;
                align-items: center;
            }
            &_value{
                width: 100%;
                padding:0px 8px ;
                font-family: PingFangSC, PingFangSC-Semibold;
                color: var(--force-mark-color);
                font-size: 24px;
                margin-top: 10px;
                &-meta{
                color: var(--force-mark-color);
                }
            }
            //border: 1px solid var(--block-meta-item-border-color);
        }
    }
    &_trend{
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        &_content{
            width: calc(50% - 8px);
        }
    }
    &_rank{
        width: 100%;
        margin-top: 15px;
    }
}



.mata_card_min{
    height: 295px;
   
}
.mata_card_max{
    height: auto;
}

