
.chain{
    &_content{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
         min-height: 400px;
        margin-top: 20px;
        background-color: var(--main-bg-color);
        &_loading{
            font-size: 32px;
            margin-top: 100px;
        }
    }
}