.chart {
  &_content {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    background-color: var(--bgColor);
    box-shadow: 0px 2px 30px -2px var(--card-shadow);
  }
  &_main {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-top: 10px;
    &_top {
      padding: 20px;
    }
  }
  &_list {
    width: 100%;
    height: 454px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
  }
}

.klineChart {
  width: 100%;
  padding: 5px 0px;
  &_top {
    display: flex;
    align-items: center;
    height: 44px;
    border-bottom: 1px solid var(--border-color);
    font-size: 12px;
    font-family: HarmonyOS_Medium;
    &_left {
      display: flex;
      align-items: center;
      width: fit-content;
      height: 100%;
      padding: 0px 20px;
      display: flex;
      column-gap: 15px;
      border-right: 1px solid var(--border-color);
      &_title {
        color: var(--font_des);
        font-family: HarmonyOS;
      }
    }
    &_right {
      flex: 1;
      display: flex;
      align-items: center;
      margin-left: 20px;
      font-size: 12px;
      font-family: HarmonyOS;
      &_ul {
        list-style: none;
        display: flex;
        column-gap: 20px;
        &_active {
          color: var(--primary);
        }
        li {
          cursor: pointer;
          width: fit-content;
        }
      }
    }
  }
  &_content {
    width: 100%;
    height: 400px;
  }
}
.trendChart {
  display: flex;
  width: 100%;
  height: 100%;
  &_left {
    flex: 1;
    border-right: 1px solid var(--border-color);
  }
  &_right {
    width: 180px;
    &_item {
      display: flex;
      height: 42px;
      align-items: center;
      border-bottom: 1px solid var(--border-color);
      &_title {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-right: 1px solid var(--border-color);
        color: var(--font_des);
      }
      &_value {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
      }
    }
    &_title {
      justify-content: center;
      height: 52px;
      font-weight: 500;
    }
  }
}
