

.vertical_form {
   padding: 30px 100px;
  display: flex;
  column-gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
  &_update{
    width: 100%;
  }
}
.verify{
  background-color: var(--main-bg-color);
  &_content_des{
    text-align: center;
    font-size: 14px;
    color: var(--font_des);
    padding: 40px 100px;
    line-height: 20px;
    border-top: 1px solid var(--border-color);
  }
  &_content{
          margin: auto;
          width:60%;
          max-width: 800px;
          text-align: center;
          .verify_list_item{
            text-align: center;
          }
  }
  &_list{
       display: flex;
        width: 100%;
       gap: 40px;
       padding: 40px 100px 60px 100px;
       flex-wrap: wrap;
      text-align: left;
       align-items: flex-start;
       &_item{
          &_title{
            display: block;
            margin-bottom: 30px;
          }
    }
    &_updates{
      width: 100%;
    }
  }
  &_btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
  }
  &_input,&_select{
    height: 50px;
  }
  &_select{
    width: 100%;
    min-width: 100% !important;
  }
}
.verify_header{
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &_title{
      font-size: 20px;
      font-family: PingFangSC,
      PingFangSC-Medium;
      font-weight: 500;
    }
    &_des{
      font-size: 14px;
      font-family: PingFangSC,
      PingFangSC-Regular;
     
      color: var(--font_des);
    }
}

.verify_conten_des {
  border-top: 1px solid var(--border-color);
  padding: 30px 100px;
  &_btns{
    display: flex;
    column-gap: 20px;
  }
 &_list{
   display: flex;
   flex-direction: column;
   list-style: none;
   row-gap: 10px;
   background: var(--des-bg-color);
   margin: 20px 0px;
   padding: 20px;
   font-size: 14px;
   color: var(--font_des);
  }

}

.upload{
  padding: 10px 0px;
  border-bottom: 1px dashed var(--border-color);
}
.ace_update_editor{
  &_title{
    display: block;
    margin: 20px 0px;
  }
}