
.rank{
    width: 100%;
    padding: 20px;
    background-color: var(--main-bg-color);
    
    &_contain{
    border: 1px solid var(--border-color);
  
   
    }
  &_header{
      position: relative;
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      margin: 20px;
      align-items: center;
      &_Item{
        display: flex;
        align-items: center;
        
      }
      &_right{
          display: flex;
          column-gap: 30px;
          align-items: end;
            justify-content: end;
            margin-right: 40px;
      }
       &_time {
        //  position: absolute;
        //   left: auto;
         font-size: 12px;
         margin-left: 10px;
       }
  }
  &_footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

}