

.footer{
    width: 100%;
    height: auto;
    background: #0b0e12;
    &_top{
        border-bottom: 1px solid #fff;
    }
    &_bottom{
        text-align: center;
        color: #fff;
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 20px;
        a{
            color: var(--link-color);
        }
    }
    &_header{
        width: 100%;
        max-width: $width;
        margin: auto;
        padding-top: 30px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        color: #fff;
        &_logo{
            width: 45px;
            height: auto;
        }
        &_title{
            margin:0px;
                color: #fff;
                font-family: PingFangSC,
                PingFangSC-Semibold;
                font-weight: 600;
                font-size: 36px;
        }
        &_text{
            display: flex;
             width: 100%;
             max-width: $width;
            color: #fff;
            font-size: 14px;
            text-align: left;
            margin: 20px auto;
            &_outlook{
                display: inline-flex;
                align-items: center;
                cursor: pointer;
                margin-left: 50px;
            }
        }
        
    }
}