.fund {
  display: flex;
  height: 100%;
  background-color: #121212;
  &_left {
    width: 400px;
    height: inherit;
  }
  &_chart {
    flex: 1;
    min-height: 600px;
    border: 1px solid var(--border-color);
  }
}
