


.owner,
.general {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}



.miner{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      &_account_overview{
          display: grid !important;
          grid-template-columns:1fr 1fr ;
      }

}

.message{
    &_label{
        text-align: left;
        width: 10%;
    }
}






