.indicators_wrap{
    display: flex;
   // padding: 10px 20px 20px 20px;
    //margin-top: 15px;
}
.indicators_header{
   
    font-family: PingFangSC,
    PingFangSC-Medium;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  10px 20px;
    border-bottom: 1px solid var(--border-color);
}
    .indicators_list_item{
       // padding: 0px;
    }