
.owner{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    &_content{
        list-style: none;
        border: 1px solid var(--border-color);
        padding: 0;
        margin: 0px;
        &_item{
            display: flex;
            height: 52px;
            align-items: center;
            border-bottom: 1px solid var(--border-color);
            &:last-child{
                border-bottom: none;
            }
            &_label{
                min-width: 120px;
                max-width: 30%;
                text-align: right;
            }
            &_value{
                //display: inline-block;
                padding-left: 20px;
                flex: 1;
                // height: inherit;
                // border-left: 1px solid var(--bg-color);
            }

        }
    }
}
.overview{
    display: flex;
    min-height: 300px;
    column-gap: 20px;
    &_chart{
        position: relative;
        flex: 1;
        border: 1px solid var(--border-color);
        &_balance{
            position: absolute;
            width: 55%;
            right: 0%;
            top: 15%;
            display: flex;
            flex-direction: column;
            row-gap: 6px;
        }
    }
    &_power{
        flex: 1;
         border: 1px solid var(--border-color);
    }
}


