

@font-face {
  font-family: "iconfont"; /* Project id 1544881 */
  src: url('../assets/fonts/iconfont.woff2?t=1634095324602') format('woff2'),
       url('../assets/fonts/iconfont.woff?t=1634095324602') format('woff'),
       url('../assets/fonts/iconfont.ttf?t=1634095324602') format('truetype');
}

@font-face {
  font-family: 'Beirut';
  src: url('../assets/fonts/Beirut.ttc');
  font-display: auto;
}

.w-120 {
  width: 120px;
  min-width: 120px !important;
}

.margin-6{
  margin-left:6px ;
}

.font_18 {
  font-size: 18px;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
}

.font-Weight_500 {
  font-family: PingFangSC,
  PingFangSC-Medium;
  font-weight: 500;
}

.font_weight{
  font-weight: 600;
}

.font-20 {
  font-size: 20px;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
}

.font-des {
  color: var(--font_des);
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3px;
}


.link {
  cursor: pointer;
  color: var(--link-color);
}
.table_li {
  display: flex;
  align-items: inherit;
  column-gap: 4px;
}
.bg-render{
  padding: 15px 10px;
  border-radius: 4px;
  background-color: var(--meta-bg-color);
}

.array_item{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  &:last-child{
    margin: 0px;
  }
  &_icon{
        display: block;
        background: var(--meta-bg-color);
        text-align: center;
        /* padding: 0px 3px; */
        width: 25px;
        border-radius: 2px;
        line-height: 25px;
  }
}
.array_item_column{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px 0px;
    &_li{
      display: flex;
      column-gap: 4px;
      &:last-child{
        margin: 0px;
      }
    }
}


.default_select{
      width: max-content;
    :global{
    .ant-select-arrow{
        color: $default-color !important ;
        font-size: 16px;
    }
      .ant-select-selection-item{
        color: $default-color !important;
        font-size: 16px;
    }        
    }
}

//icon
.defaule-icon{
    position: absolute;
    top: -40%;
    right: -43px;
    width:max-content;
    background-color:#f44c30;
    font-size: 12px;
    border-radius:40% 40% 40% 0px ;
    color: #fff;
    padding: 6px;
}
.new_icon{
      top: -48%;
    left: -45px;
  background-color: transparent;
  //background-color: var(--force-mark-color)
}
.pro_icon {
  color:var(--force-mark-color) !important;
}

.antd-icon{
  font-size: 20px;
  color: var(--font-color-holder);
}

.fvm_img_url{
  border-radius: 50%;
}

.html_br{
  display: inline-block;
  line-height: 48px;
}
.link-html{
  width: fit-content;
}
.link-html,.box-html{
  display: flex;
  flex-direction: column;
  line-height: 32px;
  word-break: break-all;
  white-space: pre-wrap;
}

.tab-active{
color:#fff;
  font-weight: 600;
}
.box-html{
   padding: 15px 30px;
  //border: 0.5px solid #6a6a6a;
  border-radius: 10px;
  background: var(--meta-bg-color);
  .text{
   padding-left: 30px;
  }
}

.default-card{
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 20px;
  height: inherit;
  border-radius: 6px;
  &-title{
    position: relative;
    display: flex;
    align-items: center;
    height: 22px;
    text-align: left;
    color: var(--font-color);
    .title{
      margin-right: 5px;
    }
    .image-icon-svg{
      margin-right: 6px;
      width: 25px;
      margin-top: 3px;
      svg{
        width: 23px;
        color: var(--force-svg-color);
      }
    }
    .image-icon{
      margin-right: 10px;
    }
    .title_tip{
      margin-left: 6px;
    }
    .right-content{
      position: absolute;
      right: 20px;
    }
    .right-item{
        position: absolute;
        font-size: 14px;
        right: 0px;
        top: 0px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 65px;
        height: 25px;
        border: 1px solid #cecece;
        border-radius: 16px;
        cursor: pointer;
        &:hover{
          color: var(--force-mark-color);
        }
      }
      .link_item{
          border: none;
      }
  }
  &-content{
    margin: 20px 0px 0px 0px;
    padding: 0px
  }
  &-content_main{
    margin: 0px;
    padding: 0px;
  }

}
.btn-link{
  background-color: var(--force-mark-color);
  border: none;
  color: #fff;
  margin-left: 10px;
}


.default-tabs{
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  width: max-content;

  border-radius: 2px;
   padding: 6px 0px;
   z-index: 3;
  cursor: pointer;
    .tabs-item{
      min-height: 32px;
      padding: 8px 20px;
      border-right:  1px solid var(--border-color);
      &:last-child{
        border-right: transparent;
      }
    }
      .tab-active {
   
        color: var(--link-color);
        font-weight: 600;
      }
}

.border-tabs{
    border: unset;
    column-gap: 10px;
    padding: 0px;
    .tabs-item{
       min-width: 80px;
       width: fit-content;
         min-height: 32px;
      padding: 10px 20px;
       display: flex;
      justify-content: center;
       align-items: center;
       height: 100%;
       font-size: 16px;
      border-radius: 4px;
      color: var(--font-color);
      font-family: PingFangSC,
      PingFangSC-Medium;
      font-weight: 500;
      background-color: var(--btn-des-bg);
      border:  1px solid transparent;
      &:last-child{
       // border-right:1px solid var(--main-border-color) ;
      }
     }
       .tab-active{
      background-color: var(--force-mark-color);
       border: 1px solid var(--force-mark-color);
      color:#fff;
      font-weight: 600;
    }
     
}

.iconfont{
  font-family: "iconfont" !important;
  font-size: .08333rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}





.chart_content {
  width: 100%;
  padding-left: 10px;
  height: 300px !important;
}



.other_progress{
  display: flex;
  align-items: center;
  justify-content: center;
   .progress {
     display: inline-block;
     background-image: url("../assets/images/progress.png");
     height: 18px;
     width: 74px;
     background-size: 100% 100%;
     vertical-align: bottom;
     margin-right: 10px;
     overflow: hidden;
     position: relative;
     font-size: 16px;
     .mask {
       display: inline-block;
       position: absolute;
       width: 100%;
       height: 100%;
       left: 0;
       top: 0;
       background: var(--main-bg-color);
       opacity: 0.7;
     }
   }
}




