


.font_18{
font-size: 18px;
font-family: PingFangSC, PingFangSC-Regular;
font-weight: 400;
}


.default_select{
    :global{
    .ant-select-arrow{
        color: $default-color !important ;
        font-size: 16px;
    }
      .ant-select-selection-item{
        color: $default-color !important;
        font-size: 16px;
    }        
    }
}
.defaule-icon{
    position: absolute;
    top: -100%;
    width:max-content;
    background-color:var(--force-mark-color);
    border-radius:30% 0px 30% 0px ;
    color: #fff;
    padding: 4px;

}
.pro_icon {
  color:var(--force-mark-color) !important;
}

.default-card{
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 20px;
  &-title{
    position: relative;
    display: flex;
    align-items: center;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: var(--font-color);
    .title{
      margin-right: 5px;
    }
    .image-icon{
      margin-right: 10px;
    }
    .right-item{
        position: absolute;
        right: 0px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 77px;
        height: 25px;
        border: 1px solid #cecece;
        border-radius: 16px;
        cursor: pointer;
        &:hover{
          color: var(--force-mark-color);
        }
      }
      .link_item{
          border: none;
      }
  }
  &-content{
    margin: 20px 0px 0px 0px;
    padding: 0px
  }

}


.default-tabs{
  display: flex;
  align-items: center;
  border: 1px solid var(--main-border-color);
  width: max-content;
   height: 34px;
  border-radius: 2px;
  cursor: pointer;
    .tabs-item{
      padding: 0px 20px;
      border-right:  1px solid var(--main-border-color);
      &:last-child{
        border-right: transparent;
      }
    }
    .tab-active{
      color: var(--force-mark-color);
    }
}
.border-tabs{
    border: unset;
    column-gap: 10px;
    .tabs-item{
       width: 80px;
        padding: 0px;
       display: flex;
      justify-content: center;
       align-items: center;
       height: 100%;
        border-radius: 2px;
      border:  1px solid var(--main-border-color);
      &:last-child{
        border-right:1px solid var(--main-border-color) ;
      }
     }
     
}

//table 
.custom-table{
  .ant-table-content{
    .ant-table-tbody{
      .ant-table-row{
        &:hover{
          .ant-table-cell{
          background-color: var(--table-row-hover-bg-color);

          }
        }
      }
    }
  }
}
.table_link{
  color: var(--link-color);
  &:hover{
    color:var(--main-bg-color)
  }
}


// 【借 -> 还】   

// 【存 -> 取】 