
//ant-btn
.ant-btn {
    border-color: transparent;
    display: flex;
    align-items: center
}
.ant-btn-default:disabled{
    color: var(--font-color) !important;
    background-color: var(--border-color);
    border-color: transparent !important;
}

.custom_ok_btn{
    background: var(--force-mark-color);
    color: #ffffff !important;
    padding: 10px 12px;
    border-radius: 3px;

}
.custom_cancel_btn {
    background: #999999;
    color: #ffffff !important;
    padding: 10px 12px;
     border-radius: 3px;
}
.custom_border_btn{
    background: transparent;
    color: var(--font-color) !important;
    padding: 10px 12px;
    border-color: var(--border-color) !important;
    border-radius: 3px;
}



//antd select
.custom_select {
    min-width: 260px;
    min-height: 32px;
    .ant-select-selector {
        height: inherit !important;
        background-color: transparent !important;
        border-color: var(--border-color) !important;
        color: var(--font-color) !important;
        .ant-select-selection-item{
            display: flex;
            align-items: center;
        }

    }
    .ant-select-selection-placeholder{
        display: flex;
        align-items: center;
    }
}



//input 
.ant-input[disabled]{
       color: var(--font-color);
       background-color: var(--border-color)
}

 .ant-input {
     color: var(--font-color);
     border-color: var(--border-color) !important;
     background-color: var(--bg-main-color) !important;
 }

// antd Search 
.custom-input-search {
    max-width: 300px;
    background-color: var(--bg-main-color) !important;
    border-color: var(--border-color);
    color: var(--font-color);
    .ant-input-affix-wrapper{
          background-color: var(--bg-main-color) !important;
          border-color: var(--border-color);
          color: var(--font-color);
           border-color: var(--border-color) !important;
    }
    .ant-input,
     .ant-input-search-button {
        background-color: var(--bg-main-color) !important;
        border-color: var(--border-color);
        color: var(--font-color);
        border-color: transparent !important;
    }

     .ant-input-search-button{
        border-left: none;
        color: var(--font-color-holder) !important;
         border-color: var(--border-color) !important;
      }
}

// antd table 
.custom-table {
    .ant-spin-container {
        border-top: 1px solid var(--border-color);
    }

    .ant-table {
        background-color: var(--main-bg-color) !important;
        color: var(--font-color) !important;

        .ant-table-thead {
            
            tr {
                .ant-table-cell{
                    font-weight: 450;
                     background-color: var(--main-bg-color) !important;
                     border-bottom: none !important;
                     color: var(--font-color);
                     &::before{
                         display: none;
                     }
                }
                th {
                    background-color: var(--main-bg-color) !important;
                    border-bottom: none !important;
                    color: var(--font-color);
                    &::before {
                        display: none;
                    }
                  
                    .ant-table-column-sorters{
                        justify-content:center;
                        .ant-table-column-title{
                            flex: none;
                        }
                    }
                }
            }
        }

        .ant-table-content {
            .ant-table-tbody {
                .ant-table-placeholder {
                    &:hover {
                        td {

                            background: var(--main-bg-color)
                        }

                    }

                    .ant-empty-description {
                        color: var(--font-color);
                    }
                }
                .ant-table-cell {
                     border-color: var(--border-color) !important;
                      background-color: var(--main-bg-color) !important;
                }
            
                .ant-table-row {
                    &:hover {
                        .ant-table-cell {
                            border-start-end-radius: 0px;
                            border-end-end-radius: 0px;
                            background-color: var(--table-row-hover-bg-color) !important;

                        }
                    }
                }

                tr {
                   
                    &:first-child{
                        td {
                            border-top: 1px solid var(--border-color) !important;
                        }
                    }

                    &:last-child {
                        td {
                            border: none;
                        }
                    }
                }
            }
        }
    }

    .ant-table-pagination {
        color: var(--font-color);
        .ant-pagination-item-active {
            background-color: var(--bg-color);
            border-color: var(--border-color);
        }

        .ant-pagination-item {
            color: var(--font-color);

            a {
                color: inherit;
            }
        }

        .ant-pagination-prev,
        .ant-pagination-next {
            .ant-pagination-item-link {
                color: var(--font-color);
            }

            color:var(--font-color);
        }

        .ant-pagination-options {
            .ant-pagination-options-quick-jumper {
                input {
                     color: var(--font-color);
                    background-color: var(--bg-color);
                    border-color: var(--border-color);
                }
            }
        }
    }
    .ant-table-placeholder{
        .ant-table-cell{
            background-color: var(--main-bg-color);
        }
    }
}


.table_link {
    cursor: pointer;
    color: var(--link-color);

    &:hover {
        color: #fff;
    }
}

.custom-border-table {
    .ant-spin-container {
        border: 1px solid var(--border-color);
    }

}
.rank_table {
     .ant-spin-container {
         border: none
     }
}

.icon-arrow-right {
    &::before {
        content: "\e608";
    }
}

// custom tooltip 
.custom-tooltip-wrap {
    --antd-arrow-background-color: var(--bg-color);

    .ant-tooltip-arrow {
        color: var(--font-color);
    }

    .ant-tooltip-inner {
        cursor: default;
        box-shadow: 0px 1px 2px 0px var(--font-color-holder);
        color: var(--font-color);
        background-color: var(--bg-color);
    }
}

// custom popover
.custom-popover-wrap{
    background-color: transparent;
    font-size: 12px;
    .ant-popover-content{
    background-color: rgba(0, 0, 0, 0.8);
        border-radius: 6px;
    .ant-popover-inner{
        background-color: transparent;
    }
    .ant-popover-arrow{
        &::before{
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
    }
}

//custom-notification
.custom-notification {
    background-color: var(--main-bg-color) !important;
    color: var(--font-color);
    .ant-notification-notice-content {
        color: var(--font-color);
    background-color: var(--main-bg-color);
        .ant-notification-notice-message {
            color: var(--font-color);
        }
    }

    .ant-notification-notice-close {
        color: var(--font-color) !important;

        &:hover {
            color: var(--font-color);
        }
    }
}

//custom_upload
.custom_upload{
    margin: 10px 0px;
    border: 1px solid var(--main-bg-color);
}

//custom form 
.custom_vertical_form{
    margin: auto;
    .ant-form-item{
        .ant-form-item-label{
            text-align: center;
        }
    }
    .step_form_item{
        width: fit-content;
        .ant-form-item-label {
                 text-align: left;
        }
    }
    .verify_from_update{
        width: 100%;
    }
}