@tailwind base;
@tailwind components;
@tailwind utilities;

:root,:root[theme='light']{
--link-color:#0000ff;
--force-mark-color:#0000ff;
--force-color:#0000ff;
--force-svg-color:#0000ff;
--meta-bg-color:#f1f6fd;
 --bg-color: #f1f6fd;
 --main-bg-color:#ffffff;
 --font-reverse-text-color:#fff;
 --font_des:#666666;
--max-width: 1100px;
--font-color:#333333;
--font-color-holder:rgba(0,0,0,0.3);
--border-color:#e6e6e6;
--border-mate-color:transparent;
--card-border-color:transparent;
--main-border-color:#cecece;
--table-row-hover-bg-color: #85cbff;
 --block-icon-bg-color:rgba(0, 0, 0, 0.2);


}

:root[theme='dark']{
  --link-color:#6ab4db;
  --force-mark-color:#6ab4db;
  --force-svg-color:#fff;
  --bg-color: #171a1f;
  --meta-bg-color:#0b0e12;
  --main-bg-color: #0b0e12; //#122639; 
  --font-color:#fff;
  --font-reverse-text-color:#000;
  --font-color-holder:rgba(255,255,255,0.3);
  --font-des-color:#666666;
  --font_des:#ababab;
  --border-color:#222;
  --border-mate-color:#222;
  --card-border-color:rgba(255,255,255,0.40);
  --main-border-color:#222;
  --table-row-hover-bg-color:#222;
   --block-icon-bg-color:hsla(0, 0%, 100%, 0.4)

}

body{
 background-color: var(--bg-color);
  margin: 0;
  cursor: default;
  font-family: -apple-system,
  PingFangSC,
  BlinkMacSystemFont,
  'Beirut',
  'Roboto',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#__next{
  width: 100%;
  height: 100%;
}
a{
  color: var(--font-color);
  text-decoration: none;
  &:hover{
    color: var(--force-mark-color);
  }
}
.main-container{
  width: 100%;
  max-width: $width;
  color: var(--font-color);
  margin: 15px auto;
  font-size: 16px;
  box-sizing: border-box;
  min-height: calc(100% - 340px);
  background-color: var(--bg-color);
}

   input[type=text]::placeholder {
    color: var(--font-color-holder);
  }
 
